# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
venv/
.venv/
env/

# Project Directories
temp/
output/

# VS Code / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# MoviePy Temp files
*TEMP_MPY*

